<div class="col-xs-12">
    <div class="text-center">
        {% if (pagination.current > pagination.min) %}
        <a class="btn btn-default" href="{{ app.request.attributes.get('_route') }}/{{ pagination.current - 1 }}" role="button"><i class="fa fa-chevron-left"></i> Vorher</a>
        {% endif %}
        {% if (pagination.current < pagination.max) %}
        <a class="btn btn-default" href="{{ app.request.attributes.get('_route') }}/{{ pagination.current + 1 }}" role="button">Später <i class="fa fa-chevron-right"></i></a>
        {% endif %}
    </div>
</div>