<!-- Schedule -->
{% for game in schedule %}
    <div class="row">
        <span>{{ game.__toString }}</span>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addGameModal" data-index="{{ loop.index }}" data-team-a="{{ game.getTeamA.getId }}" data-team-b="{{ game.getTeamB.getId }}">
            Ergebnis eintragen
        </button>
    </div>
{% endfor %}