{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <section class="main-block">
        <article>
            <section>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form, {'attr': {'class': 'input-lg'}}) }}
                {{ form_end(form) }}
            </section>
        </article>
    </section>
{% endblock %}