{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="addGameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ergebnis</h4>
                </div>
                <div class="modal-body row">

                    <form>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="team_a_score" class="control-label">Team A</label>
                                <input type="text" class="form-control" id="team_a_score" maxlength="2">
                                <input type="hidden" id="id_team_a">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="team_b_score" class="control-label">Team B</label>
                                <input type="text" class="form-control" id="team_b_score" maxlength="2">
                                <input type="hidden" id="id_team_b">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button id="add_game_button" type="button" class="btn btn-primary">Speichern</button>
                </div>
            </div>
        </div>
    </div>

    <div id="schedule_container">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        jQuery( document ).ready(
            loadSchedule()
        )

        jQuery('#addGameModal').on('show.bs.modal', function (event) {
            var button  = jQuery(event.relatedTarget)
            var idTeamA = button.data('team-a')
            var idTeamB = button.data('team-b')
            var modal   = jQuery(this)
            modal.find('#id_team_a').val(idTeamA)
            modal.find('#id_team_b').val(idTeamB)

            modal.find('#add_game_button').on('click', function () {
                jQuery.ajax({
                    method: 'GET',
                    url: Routing.generate('api_add_game', { teamA: jQuery('#id_team_a').val(), teamB: jQuery('#id_team_b').val(), teamAScore: jQuery('#team_a_score').val(), teamBScore: jQuery('#team_b_score').val() })
                }).done(function(data) {
                    console.log(data)
                    jQuery('#team_a_score').val('')
                    jQuery('#team_b_score').val('')
                    jQuery('#add_game_button').unbind('click')
                    modal.modal('hide')
                    loadSchedule()
                })
            })
        })


        // Loads the DOM Elements of the schedule
        function loadSchedule() {

            var schedule = jQuery('#schedule_container')

            schedule.empty();

            jQuery.ajax({
                method: 'GET',
                url: Routing.generate('schedule_load')
            }).done(function(data) {
                schedule.append(data)
            })
        }

    </script>
{% endblock %}