{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    {% for game in schedule %}
        <div>{{ game }}</div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            console.log('govno');
        });

    </script>
{% endblock %}